{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}Liste commandes
{% endblock %}

{% block body %}
	<h1 class="text-center text-info mt-4 pt-4 display-1 fw-bold">Liste des commandes</h1>

	<div class="row justify-content-center">
		<div class="col-12 col-md-8 bg-white p-4 m-0 text-primary">
			<div class="table-responsive">
				<table class="table table-hover table align-middle">
					<thead>
						<tr class="fw-bold text-info text-center">
							<th scope="col">Id commande</th>
							<th scope="col">utilisateurs</th>
                            <th scope="col">Prix total</th>
                            <th scope="col">Date</th>
                            <th scope="col"></th>
						</tr>
					</thead>
					<tbody>
						{% for c in commandes|sort((a, b) => b.date <=> a.date) %}
							<tr
								class="{{ cycle(['table-primary', 'table-secondary'], loop.index0) }} text-center">
                                <td>{{c.id}}</td>
                                <td>{{c.User.email}}</td>
                                <td>{{c.date | date("d-m-Y") }}</td>
                                <td>{{c.totalPrix}} EURO</td>
								<td class="">
									<a href="{{path('infocommande',{'id':c.id})}}">
										<i class="bi bi-eye-fill"></i>
									</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>{% endblock %}
