{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}Article
{% endblock %}

{% block body %}

	<div class="container">
		<div class="row mt-5">
			<div class="col-md-6">
				{% set url = 'images/articles/'~article.imageArticles[0].nom %}
				<img src="{{asset(url)}}" class="img-fluid ">
			</div>
			<div class="col-md-6">	
				<p>Ref:{{article.id}}</p>
				<div class="d-flex justify-content-around tex-decoration-none">
					<h3 class="fw-bold">{{article.libelle}}</h3>
					{% if is_granted('IS_AUTHENTICATED_FULLY') %}
        				{% if article in app.user.favoris %}
            				<a href="{{path('favoris',{'id':article.id,'action':'supprimer','page':'article'})}}"><i class="bi bi-heart-fill fs-4"></i></a>
        				{% else %}
            				<a href="{{path('favoris',{'id':article.id,'action':'ajouter','page':'article'})}}"><i class="bi bi-heart fs-4"></i></a> 
        				{% endif %}
        			{% endif %}
        			{% if not is_granted('IS_AUTHENTICATED_FULLY') %}
            			<a href="{{path('app_login')}}"><i class="bi bi-heart"></i></a>
        			{% endif %}
				</div>
				<br>
				<hr>
				<div class="row">
					<div class="col-6">
						<div class="d-flex align-items-center mt-2 pt-1 ms-lg-5">
							{% if article.qteStock >0 %}
								<a href="{{path('modifpanier',{'id':article.id,'action':'ajouter','page':'article'})}}" class="btn bg-info text-center text-light">Ajoutez au panier</a>
							{% else %}
								<a href="#" class="btn bg-danger text-center text-light">Hors stock</a>
							{% endif %}
						</div>
					</div>
					<div class="col-6">
						<p class="d-flex flex-wrap fw-bold justify-content-center" style="font-size: 2em;">{{article.prix}}€</p>
					</div>
				</div>
				<div class="text-center">
				<div class="mt-3">
				<div class="row">
					<h4 class="fw-bold text-info">CARACTÉRISTIQUES</h4>
					<hr class="mt-3"></hr>
				<div class="col text-start d-flex justify-content-center ">
				<p>Editeur:  {{article.editeur}}		 <br>
				Développeur:  	 {{article.dev}}		<br>
				Genre :   {{article.genre.genre}}				</p>	
				</div>
				<div class="col text-start d-flex justify-content-center ">
				<p>Plateforme:  {{article.platforme.platforme}}<br>
				Langues : {% for l in article.langue %}
						<span >{{l.libelle}}</span>
				{% endfor %}<br>
				Classe d'age: {{article.classeAge.PEGI}}</p>	
				</div>
				</div>
				</div>
					<div class="col-12 mb-3 mt-4 d-flex justify-content-center justify-content-lg-center gx-3">
						<div class="me-3 pe-xl-2 me-xl-4">
							<svg width="45" height="30" viewbox="0 0 45 30" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M36.8663 13.4175L37.5694 16.635H35.0494L36.2587 13.5206L36.6619 12.4575L36.8663 13.4175ZM45 3.75V26.25C45 28.32 43.32 30 41.25 30H3.75C1.68 30 0 28.32 0 26.25V3.75C0 1.68 1.68 0 3.75 0H41.25C43.32 0 45 1.68 45 3.75ZM12.8512 20.5706L17.6306 9.45375H14.415L11.4431 17.0494L11.1263 15.5063L10.0613 10.3875C9.8775 9.68062 9.34313 9.47062 8.685 9.44625H3.78937L3.75 9.67688C4.94063 9.96563 6.00562 10.3819 6.93937 10.8975L9.63937 20.5725L12.8512 20.5706ZM21.8944 9.44437H18.8587L16.9612 20.5837H19.9969L21.8944 9.44437ZM30.5662 16.9425C30.5775 15.675 29.7694 14.7113 28.0181 13.9163C26.9569 13.4006 26.3063 13.0575 26.3138 12.5363C26.3138 12.0731 26.8631 11.5781 28.0519 11.5781C29.0456 11.5631 29.7638 11.7787 30.3244 12.0056L30.5963 12.1331L31.0069 9.72C30.405 9.49312 29.4619 9.25125 28.2863 9.25125C25.2863 9.25125 23.1731 10.7625 23.1544 12.9281C23.1375 14.5294 24.6637 15.4219 25.815 15.9544C26.9963 16.5 27.3938 16.8488 27.3881 17.3363C27.3806 18.0825 26.445 18.4237 25.5712 18.4237C24.3562 18.4237 23.7113 18.255 22.7138 17.8387L22.3219 17.6606L21.8963 20.1544C22.605 20.4656 23.9175 20.7356 25.2788 20.7488C28.47 20.7488 30.5419 19.2544 30.5662 16.9425ZM41.25 20.5875L38.7919 9.45563H36.4463C35.7188 9.45563 35.175 9.65438 34.8563 10.38L30.3469 20.5875H33.5344L34.1737 18.9131L38.0625 18.9188L38.4319 20.5875H41.25Z" fill="#332E34"></path>
							</svg>
						</div>
						<div class="me-3 pe-xl-2 me-xl-4">
							<svg width="45" height="30" viewbox="0 0 45 30" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M28.9969 23.3325C28.9969 23.6944 28.7569 23.9681 28.3988 23.9681C28.0256 23.9681 27.7969 23.6812 27.7969 23.3325C27.7969 22.9838 28.0256 22.6969 28.3988 22.6969C28.755 22.6987 28.9969 22.9725 28.9969 23.3325ZM16.2206 22.6988C15.8475 22.6988 15.6187 22.9856 15.6187 23.3344C15.6187 23.6831 15.8475 23.97 16.2206 23.97C16.5769 23.97 16.8188 23.6962 16.8188 23.3344C16.8188 22.9725 16.5788 22.6988 16.2206 22.6988ZM22.5788 22.6781C22.2712 22.6781 22.0969 22.8731 22.0519 23.16H23.0813C23.0363 22.8525 22.8581 22.6781 22.5788 22.6781ZM32.4037 22.6988C32.0306 22.6988 31.8019 22.9856 31.8019 23.3344C31.8019 23.6831 32.0306 23.97 32.4037 23.97C32.76 23.97 33.0019 23.6962 33.0019 23.3344C33.0019 22.9725 32.76 22.6988 32.4037 22.6988ZM45 3.75V26.25C45 28.32 43.32 30 41.25 30H3.75C1.68 30 0 28.32 0 26.25V3.75C0 1.68 1.68 0 3.75 0H41.25C43.32 0 45 1.68 45 3.75ZM10.395 13.0969C10.395 17.2237 13.74 20.5688 17.8669 20.5688C19.3088 20.5688 20.655 20.1581 21.7969 19.4513C19.9837 17.9269 18.8306 15.645 18.8306 13.0969C18.8306 10.5487 19.9856 8.26688 21.7969 6.7425C20.655 6.03563 19.3106 5.625 17.8669 5.625C13.7419 5.625 10.395 8.97 10.395 13.0969ZM14.7937 23.0794C14.7937 22.6106 14.4956 22.2956 14.0138 22.29C13.7606 22.2862 13.5 22.365 13.3163 22.6425C13.1794 22.4231 12.9637 22.29 12.66 22.29C12.4481 22.29 12.24 22.3519 12.0787 22.5844V22.3387H11.6475V24.3225H12.0825V23.2219C12.0825 22.8769 12.2738 22.695 12.5681 22.695C12.855 22.695 12.9994 22.8825 12.9994 23.2181V24.3225H13.4344V23.2219C13.4344 22.8769 13.6331 22.695 13.92 22.695C14.2144 22.695 14.355 22.8825 14.355 23.2181V24.3225H14.7937V23.0794ZM17.2256 22.3406H16.7944V22.5806C16.6575 22.4025 16.4494 22.29 16.1681 22.29C15.6112 22.29 15.1762 22.725 15.1762 23.3325C15.1762 23.94 15.6112 24.375 16.1681 24.375C16.4513 24.375 16.6575 24.2625 16.7944 24.0844V24.3244H17.2256V22.3406ZM19.4081 23.7281C19.4081 23.3794 19.1475 23.1975 18.7144 23.1337L18.5119 23.1038C18.3244 23.0794 18.1763 23.0419 18.1763 22.9088C18.1763 22.7625 18.3169 22.6763 18.5531 22.6763C18.8063 22.6763 19.0519 22.7719 19.1719 22.8469L19.3594 22.4981C19.1512 22.3612 18.8662 22.29 18.5494 22.29C18.0469 22.29 17.7244 22.53 17.7244 22.9256C17.7244 23.25 17.9644 23.4487 18.4088 23.5106L18.6112 23.5406C18.8475 23.5744 18.96 23.6363 18.96 23.7488C18.96 23.9025 18.8025 23.9888 18.5081 23.9888C18.21 23.9888 17.9944 23.8931 17.8481 23.7806L17.6456 24.1162C17.8819 24.2925 18.18 24.375 18.5044 24.375C19.0763 24.375 19.4081 24.105 19.4081 23.7281ZM21.33 24.2212L21.2063 23.8519C21.0769 23.9269 20.9363 23.9644 20.8237 23.9644C20.6081 23.9644 20.5369 23.8312 20.5369 23.6325V22.7362H21.2419V22.3425H20.5369V21.7406H20.1019V22.3425H19.6987V22.7362H20.1019V23.6419C20.1019 24.1031 20.28 24.3769 20.79 24.3769C20.9775 24.375 21.1931 24.3169 21.33 24.2212ZM23.5294 23.3325C23.5256 22.7138 23.1431 22.29 22.5862 22.29C22.005 22.29 21.5981 22.7138 21.5981 23.3325C21.5981 23.9625 22.0219 24.375 22.6144 24.375C22.9125 24.375 23.1863 24.3 23.4281 24.0975L23.2162 23.7787C23.0494 23.9119 22.8394 23.9869 22.6388 23.9869C22.3612 23.9869 22.1081 23.8575 22.0444 23.5013H23.5181L23.5294 23.3325ZM25.2319 22.3463L24.9244 22.2919C24.675 22.2919 24.5138 22.4081 24.4012 22.5825V22.3425H23.9738V24.3263H24.405V23.2125C24.405 22.8844 24.5456 22.7025 24.8287 22.7025L25.0987 22.7531L25.2319 22.3463ZM25.8094 23.3325C25.8094 22.95 26.0625 22.7025 26.4075 22.6969C26.595 22.6969 26.7638 22.7588 26.9269 22.875L27.135 22.5262C26.9194 22.3556 26.7206 22.29 26.4206 22.29C25.7812 22.29 25.3631 22.7306 25.3631 23.3325C25.3631 23.9344 25.7794 24.375 26.4188 24.375C26.7169 24.375 26.9175 24.3094 27.1331 24.1388L26.925 23.79C26.7638 23.9062 26.5931 23.9681 26.4056 23.9681C26.0625 23.9644 25.8094 23.715 25.8094 23.3325ZM29.4019 22.3406H28.9706V22.5806C28.8337 22.4025 28.6256 22.29 28.3444 22.29C27.7875 22.29 27.3525 22.725 27.3525 23.3325C27.3525 23.9381 27.7875 24.375 28.3444 24.375C28.6275 24.375 28.8337 24.2625 28.9706 24.0844V24.3244H29.4019V22.3406ZM31.2281 22.3463L30.9206 22.2919C30.6712 22.2919 30.51 22.4081 30.3975 22.5825V22.3425H29.97V24.3263H30.4013V23.2125C30.4013 22.8844 30.5419 22.7025 30.825 22.7025L31.095 22.7531L31.2281 22.3463ZM33.4069 21.5437H32.9756V22.5806C32.8387 22.4025 32.6306 22.29 32.3494 22.29C31.7925 22.29 31.3575 22.725 31.3575 23.3325C31.3575 23.9381 31.7925 24.375 32.3494 24.375C32.6325 24.375 32.8387 24.2625 32.9756 24.0844V24.3244H33.4069V21.5437ZM34.605 13.0969C34.605 8.97 31.2581 5.625 27.1331 5.625C23.0081 5.625 19.6613 8.97 19.6613 13.0969C19.6613 17.2237 23.0063 20.5688 27.1331 20.5688C31.26 20.5688 34.605 17.2237 34.605 13.0969Z" fill="#332E34"></path>
							</svg>
						</div>
						<div class="me-3 pe-xl-2 me-xl-0">
							<svg width="45" height="30" viewbox="0 0 45 30" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M41.25 0H3.75C1.68 0 0 1.68 0 3.75V26.25C0 28.32 1.68 30 3.75 30H41.25C43.32 30 45 28.32 45 26.25V3.75C45 1.68 43.32 0 41.25 0ZM20.0775 20.8312H17.5837C17.355 20.8312 17.1731 20.6381 17.1863 20.4112C17.2313 19.6931 17.6475 17.3344 19.0875 8.0625C19.1363 7.73813 19.4119 7.5 19.7362 7.5H24.3263C26.7825 7.5 28.5956 8.94188 28.095 11.5256C27.5794 14.2125 25.9388 15.5194 23.0813 15.5194L21.6694 15.5212C21.09 15.5231 20.8763 15.7425 20.8031 16.2581L20.0775 20.8312ZM29.5819 14.6175C29.0531 17.3794 27.24 18.3337 24.9262 18.3337H24.5681C24.285 18.3337 24.045 18.5419 24 18.8269L23.4975 22.0087C23.4544 22.2919 23.2144 22.5 22.9312 22.5H21.2213C20.9775 22.5 20.7919 22.2825 20.8294 22.0425L21.6956 16.4925C21.6994 16.4719 21.7144 16.4569 21.735 16.4569H23.0813C26.3531 16.4569 28.3988 14.82 29.0025 11.7262C29.5106 12.2362 29.6887 12.9 29.6887 13.6012C29.6869 13.935 29.6475 14.2781 29.5819 14.6175Z" fill="#332E34"></path>
							</svg>
						</div>
					</div>
					<div class="col-12 mb-3 d-flex justify-content-center align-items-center">
						<svg width="23" height="30" viewbox="0 0 23 30" fill="none" xmlns="http://www.w3.org/2000/svg">
							<g>
								<path d="M21.9759 9.73966C21.3492 8.69172 20.298 8.15747 19.1457 8.03418C19.0851 8.01364 19.0042 8.01364 18.9435 8.01364C18.8829 8.01364 18.8425 8.01364 18.7818 8.01364C18.2764 8.01364 17.7508 8.01364 17.2454 8.01364C17.2657 7.93145 17.2657 7.8287 17.2657 7.72597C17.1848 5.15747 16.1942 2.19857 13.9705 0.801311C12.333 -0.246633 10.0285 -0.267181 8.37078 0.739668C6.89504 1.62323 6.02576 3.20542 5.50016 4.82871C5.17671 5.8561 4.97455 6.94514 4.93412 8.03418C4.67132 8.03418 4.3883 8.03418 4.12549 8.03418C2.62954 8.01364 1.21444 8.52734 0.486682 9.98624C0.0217227 10.9109 0.0823696 11.9177 0.0823696 12.9246C0.0823696 16.0479 0.0823696 19.1506 0.0823696 22.2739C0.0823696 24.6575 -0.524099 28.1301 1.90178 29.5273C2.81148 30.0616 3.80204 29.9999 4.79261 29.9999C6.14706 29.9999 7.48129 29.9999 8.83574 29.9999C11.8681 29.9999 14.9004 29.9999 17.9125 29.9999C18.984 29.9999 19.9948 30.0205 20.9247 29.3835C22.178 28.541 22.5217 27.2054 22.5217 25.7671C22.5217 22.8492 22.5217 19.9109 22.5217 16.9931C22.5217 15.5958 22.5217 14.1986 22.5217 12.8013C22.5015 11.7328 22.5419 10.7054 21.9759 9.73966ZM7.84517 5.46569C8.28991 4.04788 9.1794 2.65063 10.7562 2.46569C12.4745 2.28076 13.6673 3.43145 14.2535 4.95199C14.6376 5.95884 14.7993 6.86295 14.8398 7.70542C14.8398 7.80816 14.86 7.9109 14.8802 7.99309C12.3735 7.99309 9.86673 7.99309 7.35999 7.99309C7.40043 7.15062 7.54193 6.45199 7.84517 5.46569ZM20.0756 26.3629C19.9745 27.5547 18.984 27.5342 18.0945 27.5342C15.4867 27.5342 12.8789 27.5342 10.271 27.5342C8.10797 27.5342 5.90447 27.6575 3.76161 27.5342C2.81148 27.4725 2.48803 26.8561 2.48803 25.9931C2.46781 25.0273 2.48803 24.041 2.48803 23.0753C2.48803 20.1369 2.48803 17.1986 2.48803 14.2602C2.48803 13.4383 2.4476 12.5958 2.48803 11.7739C2.54868 10.8082 3.13493 10.4794 3.98399 10.4588C8.95703 10.3766 13.9503 10.4588 18.9233 10.4588C20.1161 10.5205 20.0756 11.6095 20.0756 12.5136C20.0756 13.6849 20.0756 14.8356 20.0756 16.0068C20.0756 18.8835 20.0756 21.7602 20.0756 24.6164C20.0756 25.2123 20.1363 25.8081 20.0756 26.3629Z" fill="black"></path>
								<path d="M11.2803 14.3835C9.88543 14.3835 8.75336 15.5342 8.75336 16.952C8.75336 17.9589 9.33961 18.8424 10.1685 19.2534C10.1685 20.5068 10.1685 21.7603 10.1685 23.0137C10.1685 24.5959 12.5943 24.5959 12.5943 23.0137C12.5943 21.7192 12.5943 20.4246 12.5943 19.1507C13.3221 18.6986 13.8073 17.8972 13.8073 16.952C13.8073 15.5342 12.6752 14.3835 11.2803 14.3835Z" fill="black"></path>
							</g>
							<defs>
								<clipPath id="clip0">
									<rect width="22.5" height="30" fill="white"></rect>
								</clipPath>
							</defs>
						</svg>
						<span class="text-black paragraph-middle text-uppercase fw-bolder ms-2 mt-1">100% secure</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col mt-5 text-center">
				<h2 class="text-info fw-bold">Description</h2>
				<hr class="mt-3"></hr>
				<p style="text-justify: auto;">{{article.description}}</p>
			</div>
		</div>
	</div>
{% endblock %}

